# ==========================================================
# DATABASE
# ==========================================================

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=


# ==========================================================
# JWT
# ==========================================================

JWT_SECRET=


# ==========================================================
# SERVER
# ==========================================================

PORT=8080


# ==========================================================
# FILE UPLOAD
# ==========================================================

FILE_MAX_SIZE=30971520


# ==========================================================
# SUPABASE
# ==========================================================

SUPABASE_URL=
SUPABASE_BUCKET=documents
SUPABASE_SERVICE_KEY=


# ==========================================================
# MSG91
# ==========================================================

MSG91_BASE_URL=https://control.msg91.com/api/v5/flow
MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=
MSG91_SENDER_ID=NLIESE
MSG91_OTP_VARIABLE=number